.icon{
    width: 1.5em; 
    height: 1.5em; 
    margin: 0;
    vertical-align: top; 
}

.module{
    box-sizing: border-box;
    height: 2em;
    padding: 2px 1em;
    margin: 0;
    vertical-align: top;
    border: 1px solid #4e4e4e;
    background-color: #e4e4e4;
    color: #2b2b2b;
    border-radius: 7px;
}

.field{
    box-sizing: border-box;
    padding: 2px 1em;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #4e4e4e;
    background-color: #e4e4e4;
    font-size: .7em;
    color: #2b2b2b;
}

.hazard{
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #4e4e4e;
    background-color: #e4e4e4;
}
